.subtitle {
  padding-bottom: 30px;
}

.gallery {
  background-color:#f5ebd5 ;
  opacity: 0.9;
  padding-bottom: 5%;
  border-radius: 40px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: Oregano;
  color: #e86868
}

.about {
  text-align: center;
}

.container {
  border-radius: 40px;
  background-color: #FFF8E7;
  padding: 1em;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 2% 15% 2% 15%;
  background-color:#f5ebd5 ;
  opacity: 0.9;
  border-radius: 40px;

}

p {
  font-family: Oregano;
  font-size: 1.7em;

}
