<div>
  <h2 class="subtitle"> Who we are ? </h2>
  <p>
    You ever been in a situation where you could not find your size while shopping ?
  </p>
  <p>We are <b>Shine</b>, and we sew or resize for you the outfit you always dreamed of, with the best material you want, So you could shine to the world </p>
</div>

<br>
<br>

<div>
  <h2 class="subtitle"> Our Gallery </h2>

  <div class="container">
    <div class="row row-cols-auto">
      <div class="col">
        <div class="text-center">
          <img src="..." class="rounded" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="..." class="rounded" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="..." class="rounded" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="..." class="rounded" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
