.subtitle {
  padding-bottom: 30px;
}
h2 {
  display: flex;
  justify-content: center;
}

.about {
  text-align: center;
}

.container {
  border-radius: 40px;
  background-color: #FFF8E7;
  padding: 1em;
}
