<h2> Our Location </h2>
<div class="card">


      <img class="card-img-top" src="assets/images/11.png"  alt="Location image">

  <div class="card-body">
    <p class="card-text">
      <b> Location : </b> <a style="color: black"> XX sunset drive, 1E2 8Y2 - Ottawa</a>
    </p>
    <p class="card-text">
      <b> Opening Hours : </b>
    </p>
    <ul class="list-group">
      <li class="list-group-item"><div class="row">
        <div class="col-sm-4"><b>Monday : </b></div>
        <div class="col-sm-8">9am to 4pm</div>
      </div></li>
      <li class="list-group-item"><div class="row">
        <div class="col-sm-4"><b>Tuesday : </b></div>
        <div class="col-sm-8">9am to 4pm</div>
      </div></li>
      <li class="list-group-item"><div class="row">
        <div class="col-sm-4"><b>Wednesday : </b></div>
        <div class="col-sm-8">9am to 4pm</div>
      </div></li>
      <li class="list-group-item"><div class="row">
        <div class="col-sm-4"><b>Thursday : </b></div>
        <div class="col-sm-8">9am to 4pm</div>
      </div></li>
      <li class="list-group-item"><div class="row">
        <div class="col-sm-4"><b>Friday : </b></div>
        <div class="col-sm-8">9am to 4pm</div>
      </div></li>
    </ul>
  </div>
</div>
