.card {
  width: 50em;
}
h2 {
  display: flex;
  justify-content: center;
  font-family: Oregano;
  color: #e86868;
}

.card {
  background-color: #FFF8E7;
  border: none;
  padding: 4em;
  border-radius: 40px;
}
 div {
   font-family: Oregano;
   font-size: 1.1em;
 }

 p {
   color: #e86868;
 }

