
.section {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}

@font-face {
  font-family: Oregano;
  src: url(../assets/fonts/Oregano/Oregano-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

h1 {
  font-family: Oregano;
  font-size: 6em;
  color: #762F2F;
}

body {
  background-color: #fff8e7;
}

