
.section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

@font-face {
  font-family: Oregano;
  src: url(../assets/fonts/Oregano/Oregano-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

h1 {
  font-family: Oregano;
  font-size: 6em;
  color: #762F2F;
}

body {
  background-color: #fff8e7;
}

#navy {
  position: fixed;
  background: rgb(235,177,83);
  background: linear-gradient(173deg,  #FFF8E7 31%, rgba(252,176,69,0) 55%);
}

a {
  color: #762F2F;
  font-family: Oregano;
  font-size: 1.6em;
}

a:hover {
  background: rgb(251,173,63);
  background: linear-gradient(106deg, rgba(251,173,63,1) 0%, rgba(232,104,104,1) 100%);
  color: white;
  border-radius: 15px;
}
