<body background="assets/images/Background.png">
<section>
  <ng-container>
    <div>
      <h1 style="text-align: center" > Shine </h1>
    </div>
  </ng-container>

  <div class="section">
    <app-about></app-about>
  </div>

  <div class="section">
    <app-services></app-services>
  </div>

  <div class="section">
    <app-location></app-location>
  </div>

  <div class="section">
    <app-experts></app-experts>
  </div>

  <div class="section">
    <app-booking></app-booking>
  </div>

</section>
</body>

