.row {
  background-color:#f5e9dc;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  padding: 1em 1% 0 1em;
  margin-bottom: 20px;
}

h2 {
  display: flex;
  justify-content: center;
}

.worker {
  background-color: #FFF8E7;
  width: 40em;
  padding: 2.5em;
  border-radius: 40px;
}

img {
  border-radius: inherit;
}
