<h2>Who works with us ?</h2>
<div class="worker">


  <div class="row">
    <div class="col-sm-4">
      <img src="..."alt="...">
    </div>
    <div class="col-sm-8">
      <p> <b>Name : </b> John Doe</p>
      <p> <b>Specialities : </b> Tops and Pants</p>
      <p> <b>Rating : </b> 4.4/5</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img src="assets/images/"  alt="...">
    </div>
    <div class="col-sm-8">
      <p> <b>Name : </b> Jane Doe</p>
      <p> <b>Specialities : </b> Dresses and Skirts </p>
      <p> <b>Rating : </b> 4/5</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img src="..."alt="...">
    </div>
    <div class="col-sm-8">
      <p> <b>Name : </b> Jonathan Joestar</p>
      <p> <b>Specialities : </b> Specials</p>
      <p> <b>Rating : </b> 5/5</p>
    </div>
  </div>
</div>

