h2 {
  padding-bottom: 30px;
}

.row {
  margin-bottom: 30px;
}
h2 {
  display: flex;
  justify-content: center;
}

.booking {
  text-align: center;
}

.services {
  background-color: #f5ebd5;
  padding: 3em;
  border-radius: 40px;
}

.card {
  border-radius: 40px;
  background-color: #fff8e7;
  border: none;
}

h2{
  font-family: Oregano;
  color: #e86868;
}

p{
  font-family: Oregano;
  font-size: 1.4em;
}
