<h2>What can we make for you ? </h2>
<div class="services">

  <div class="container">
    <div class="row">
      <div class="col">

        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tops</h5>
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
      <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pants</h5>
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
      <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Skirts</h5>
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dresses</h5>
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
      <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Shorts</h5>
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
      <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Specials</h5>
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div>
    <a href="#" class="btn btn-success">Book an appointement</a>
  </div>

</div>
