<h2>What can we make for you ? </h2>
<div class="services">

  <div class="container">
    <div class="row">
      <div class="col">

        <div class="card">
          <img class="card-img-top" src="assets/images/2.png" alt="Top image">
          <div class="card-body">
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
      <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/3.png" alt="Pants image">
          <div class="card-body">
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
      <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/4.png" alt="Skirts image">
          <div class="card-body">
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/5.png" alt="Dresses image">
          <div class="card-body">
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
      <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/6.png" alt="Shorts image">
          <div class="card-body">
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
      <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/7.png" alt="Specials image">
          <div class="card-body">
            <p class="card-text"> Price : XX$ - XXX$ </p>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="booking">
    <button class="btn btn-success">Book an appointement</button>
  </div>

</div>
