h2 {
  display: flex;
  justify-content: center;
  font-family: Oregano;
  color:  #E86868;
}


button {
  width: 20em;
  background-color: #E86868;
  border: none;
  border-radius: 40px;

}

.confirm {
  text-align: center;
}

.forms {
  padding: 5em 5em 5em 5em;
  background-color: #f5ebd5;
  opacity: 0.9;
  border: none;
  border-radius: 40px;
}

.credential, .service-choice, .expert-choice, .time-choice {
  display: flex;
  flex-direction: column;
  padding : 2em 10% 2em 10%;
}

#name, #email {
  padding-left: 25px;
  border-radius: 40px;
  display: flex ;
}

.credential {
  display: flex;
  flex-direction: column;
  padding : 0 10% 0 10%;
}


.row {
  padding-bottom: 2%;
}
 .form-check-expert {
   padding: 1em 0 1em 5em;

 }

h3 {
  font-family: Oregano;
  color: #e86868;
}

label {
  font-family: Oregano;
  font-size: 1.3em;
  padding-left: 1em;
}

input {
  font-family: Oregano;
  border-radius: 40px;
  font-size: 1.3em;
}

button {
  font-family: Oregano;
  font-size: 1.4em;
}

